<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46116205504-2cd0jru0velci21mh3sijp212o1i2arn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46116205504-2cd0jru0velci21mh3sijp212o1i2arn</string>
	<key>API_KEY</key>
	<string>AIzaSyCNIKKvx_ctO5L5i66YZYwDBQ32Gz9Ki7U</string>
	<key>GCM_SENDER_ID</key>
	<string>46116205504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>rushikesh-my-news-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>rushikesh-my-news-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46116205504:ios:1eff5dd843e9c139a0ce25</string>
</dict>
</plist>